body {
  font-family: sans-serif;
  background-color: #f0f8ff;
  padding: 20px;
}

h1 {
  color: #4b0082;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
}

.edible {
  background-color: #d0f0c0;
  color: #006400;
}

.inedible {
  background-color: #fdd;
  color: #8b0000;
}
